@page "/poetry"
@using accountingMAUIBlazor.Services;
@*@inject PoetryStorage ips;*@
@inject IPoetryStorage ips;

<h1>Poetry</h1>
<Button OnClick="InitializeAsync">Initialize DB</Button>

<BootstrapInputGroup>
    <BootstrapInputGroupLabel DisplayText="Title"></BootstrapInputGroupLabel>
    <BootstrapInput @bind-Value="_name"></BootstrapInput>
</BootstrapInputGroup>

<BootstrapInputGroup>
    <BootstrapInputGroupLabel DisplayText="Content"></BootstrapInputGroupLabel>
    <BootstrapInput @bind-Value="_content"></BootstrapInput>
</BootstrapInputGroup>

<Button OnClick="SaveAsync">Save to DB</Button>

<BootstrapInputGroup>
    <BootstrapInputGroupLabel DisplayText="Condition"></BootstrapInputGroupLabel>
    <BootstrapInput @bind-Value="_query"></BootstrapInput>
</BootstrapInputGroup>

<Button OnClick="SearchAsync">Search Poetry</Button>

@foreach (var poetry in _poetries)
{
    <Card>
        <BodyTemplate>
            <div>@poetry.Name</div>
            <div>@poetry.Content</div>
        </BodyTemplate>
    </Card>
} 


@code {

}

